@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Poppins:wght@400;600;700;900&display=swap");
@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }

  body,
  .font-heading {
    font-family: "Poppins", sans-serif;
  }

  .font-display {
    font-family: "Bubblegum Sans", cursive;
  }
}

@layer utilities {
  .animate-scroll-left {
    animation: scroll-left 40s linear infinite;
  }

  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
